{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">



    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;family=Lora:wght@400;700&amp;family=Montserrat:wght@400;500;600;700&amp;family=Nunito:wght@400;700&amp;display=swap" rel="stylesheet">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/aos/dist/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/flickity-fade/flickity-fade.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/flickity/dist/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/highlightjs/styles/vs2015.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/jarallax/dist/jarallax.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/quill/dist/quill.core.css' %}" />

    <!-- Map -->
    <link href='../../../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">

    <title>Course Details</title>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">TechLaas</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">

        <ul>

          <li><a class="active" href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'courses' %}">Internship</a></li>

          <li><a href="{% url 'contact' %}">Contact</a></li>




              <!-- Search -->
            <form action="{% url 'searchbar' %}" method="GET" >
                {% csrf_token %}
                <div style="margin-top:22px;margin-left:10px;">


                            <!-- Icon -->
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z" fill="currentColor"/>
                                <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z" fill="currentColor"/>
                            </svg>



                    <input class="input" type="search" placeholder="Search" aria-label="Search" name="query" style="width:100px;">
                    <button class="btn btn-sm my-2 my-sm-0 text-secondary icon-xs d-flex align-items-center" type="submit"></button>
                </div>
            </form>
<!--          </div>-->

          <div>

            {% if user.is_authenticated %}
          <li class="dropdown"><a href="#"><span class="get-started-btn">{{user.first_name}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="{% url 'changepassword' %}">Change Password</a></li>
                <li><a href="{% url 'internship' %}">My Internship</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
            {% else %}
            <li class="dropdown"><a href="#"><span ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'register' %}" >register</a></li>
            </ul>
          </li>
            {% endif %}
            </div>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>


    </div>
  </header><!-- End Header -->
</head>
<body class="bg-white">










 {% if orders %}
    <!-- COURSE
    ================================================== -->
    <div class="mt-15 mt-md-11 pt-md-3">
        <div class="sidebar-collapse">
            <a class="btn btn-success btn-lg ms-2" data-bs-toggle="collapse" href="#sidebarcollapseExample" role="button" aria-expanded="false" aria-controls="sidebarcollapseExample">
                <!-- Icon -->
                <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="1" fill="currentColor"/>
                    <rect y="8" width="15" height="1" fill="currentColor"/>
                    <rect y="16" width="20" height="1" fill="currentColor"/>
                </svg>

                <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z" fill="currentColor"></path>
                    <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z" fill="currentColor"></path>
                </svg>

            </a>

            <div class="collapse shadow" id="sidebarcollapseExample">
                <div class="p-5">
                    <div class="p-5">
                    <!-- Search -->
                    <form class="mt-10 mt-sm-0">
                        <div class="input-group border rounded">
                            <div class="input-group-prepend">
                                <button class="btn btn-sm text-secondary" type="submit">
                                    <!-- Icon -->
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z" fill="currentColor"/>
                                        <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z" fill="currentColor"/>
                                    </svg>

                                </button>
                            </div>
                            <input class="form-control form-control-sm border-0 ps-0" type="search" placeholder="Search item" aria-label="Search">
                        </div>
                    </form>
                </div>

                <div id="accordionCurriculum" class="sidebar-collapse-scroll">
                    <div class="overflow-hidden">
                        <div class="d-flex align-items-center" id="curriculumheadingOne">
                            <h5 class="mb-0 w-100">
                                <button class="d-flex align-items-center p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#CurriculumcollapseOne" aria-expanded="true" aria-controls="CurriculumcollapseOne">
                                    <span class="me-4 text-dark d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="15" height="2" fill="currentColor"/>
                                        </svg>

                                        <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                            <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                        </svg>

                                    </span>

                                    Introduction
                                </button>
                            </h5>
                        </div>
                        <div style="height: 400px; overflow-y: scroll;">
  <!-- Your content goes here -->


                        <div id="CurriculumcollapseOne" class="collapse show" aria-labelledby="curriculumheadingOne" data-parent="#accordionCurriculum">
                        {% for group in video_groups %}
	<h2> Week {{ group.week }}: {{ group.week.week_title }}</h2>
	<ul>
		{% for video in group.videos %}
		<li>{{ video.title }} ({{ video.time_duration }}) - <a href="{{ video.videos.url }}">Watch Video</a></li>
		{% endfor %}
		{% for question in questions %}
		{% if question.course_week == group.week %}
		<li><a href="{% url 'quiz' id=single.course_id week=question.course_week_id %}">Quiz</a></li>
		{% endif %}
		{% endfor %}
	</ul>
	{% endfor %}
</body>



                            <hr>

                            <div class="d-flex align-items-center" id="curriculumheadingOne1">
                                    {% for question in questions %}
                            <h5 class="mb-0 w-100">
                                 <a href="{% url 'quiz' id=single.course_id week=question.course_week_id %}"> {% endfor %}Final Quiz</a>
                            </h5>

                            </div>

  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
  </div>


                    </div>

                </div>
            </div>
                    </div>
            </div>
        </div>

        </div>
    </div>


<!--        <div class="container">-->
<!--             {% for i in vid %}-->
<!--            <div class="row mb-11">-->
<!--                <div class="col-lg-11 col-wd-12 ms-lg-auto pt-11 pt-lg-8">-->
<!--                    <h2 class="font-size-xl mb-6">-->
<!--                        Introduction to the course-->
<!--                    </h2>-->

<!--                    <video id="video{{ forloop.counter }}" class="embed-responsive embed-responsive 16by6" width="800" height="600" controls="controls">-->
<!--                                <source src="{{i.videos.url}}" type="video/mp4"/>-->
<!--                           </video>-->


<!--                </div>-->
<!--            </div>-->

<!--    <div>-->


<!--         <a href="{% url 'transcribe_video' i.id  %}" onclick="transcribe()" class="btn btn-success btn-block mb-3">Transcribet</a>-->
<!--         <p id="transcription"></p>-->
<!--         <script>-->
<!--            function transcribe() {-->
<!--                var xhttp = new XMLHttpRequest();-->
<!--                xhttp.onreadystatechange = function() {-->
<!--                    if (this.readyState == 4 && this.status == 200) {-->
<!--                        document.getElementById("transcription").innerHTML = this.responseText;-->
<!--                    }-->
<!--                };-->
<!--                xhttp.open("GET", "{% url 'transcribe_video' i.id %}", true);-->
<!--                xhttp.send();-->
<!--            }-->
<!--         </script>-->


<!--    </div>-->
<!--            {% endfor %}-->
<!--        </div>-->

    </div>
  {% endif %}


 <div class="container">
            <div class="row mb-11">
                <div class="col-lg-11 col-wd-12 ms-lg-auto pt-11 pt-lg-8">
                    <h2 class="font-size-xl mb-6">
                        Introduction to the course
                    </h2>


            <video class="embed-responsive embed-responsive 16by6" width="1000" height="600" controls="controls">
              <source src="{{single.promo.url}}" type="video/mp4"/>
            </video>


                        <img class="rounded shadow-light-lg" src="assets/img/products/product-2.jpg" alt="...">
                    </a>
                    <br><br><br><br>
                    <h3 style="color: blue; ">Course Description</h3>

                    <p class="mb-6 line-height-md" style="font-size:20px;color:black; ">{{single.desc}}</p>


                   <div class="row mb-11">
                       <h2  style="color: blue; " class="font-size-xl mb-6">Quiz Details</h2>
                       <ul class="list-style-v2"  style="font-size:20px;color:black; " >

                            <li>Course Week : {{single.course_week}} Week</li>
                            <li>Total Quiz :{{single.course_week}} Quiz + Final Quiz </li>
                            <li>Users can attempt the quiz a maximum of three times.  </li>
                            <li>The user's score, correct answers, wrong answers, and progress percentage are calculated and displayed on a result page after the user submits the quiz.</li>
                            <li>The user's progress percentage is calculated based on the number of questions answered by the user out of the total number of questions in the quiz.</li>
                            <li>There is a time limit for the quiz, The time limit is associated with a specific course and week, </li>
                            <li>The time limit is displayed on the quiz page and The time limit is used to restrict the amount of time the user has to complete the quiz. </li>
                            <li>If the time limit is over, then it will automatically submit </li>

                        </ul>
                   </div>




                    <div class="border shadow rounded p-6 p-md-9">
                        <h3 class="mb-2">Add Reviews & Rate</h3>
                        <div class="">What is it like to Course?</div>
                        <form>
                            <div class="clearfix">
                                <fieldset class="slect-rating mb-3">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label class = "full" for="star5" title="Awesome - 5 stars"></label>

                                    <input type="radio" id="star4half" name="rating" value="4 and a half" />
                                    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label class = "full" for="star4" title="Pretty good - 4 stars"></label>

                                    <input type="radio" id="star3half" name="rating" value="3 and a half" />
                                    <label class="half" for="star3half" title="Meh - 3.5 stars"></label>

                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label class = "full" for="star3" title="Meh - 3 stars"></label>

                                    <input type="radio" id="star2half" name="rating" value="2 and a half" />
                                    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" id="star1half" name="rating" value="1 and a half" />
                                    <label class="half" for="star1half" title="Meh - 1.5 stars"></label>

                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label class = "full" for="star1" title="Sucks big time - 1 star"></label>

                                    <input type="radio" id="starhalf" name="rating" value="half" />
                                    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>

                            <div class="form-group mb-6">
                                <label for="exampleInputTitle1">Review Title</label>
                                <input type="text" class="form-control placeholder-1" id="exampleInputTitle1" placeholder="Courses">
                            </div>

                            <div class="form-group mb-6">
                                <label for="exampleFormControlTextarea1">Review Content</label>
                                <textarea class="form-control placeholder-1" id="exampleFormControlTextarea1" rows="6" placeholder="Content"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mw-md-300p">SUBMIT REVIEW</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <script>
  var videoCount = {{ vid.count }};
  var currentVideo = 1;
  var currentVideoElement = document.getElementById('video1');

  currentVideoElement.addEventListener('ended', function() {
    currentVideo++;
    if (currentVideo <= videoCount) {
      var nextVideoElement = document.getElementById('video' + currentVideo);
      nextVideoElement.play();
      currentVideoElement = nextVideoElement;
    }
  });
</script>
    <!-- Libs JS -->
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/libs/aos/dist/aos.js' %}"></script>
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'assets/libs/countup.js/dist/countUp.min.js' %}"></script>
    <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'assets/libs/flickity/dist/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/libs/flickity-fade/flickity-fade.js' %}"></script>
    <script src="{% static 'assets/libs/highlightjs/highlight.pack.min.js' %}"></script>
    <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/libs/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-video.min.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-element.min.js' %}"></script>
    <script src="{% static 'assets/libs/parallax-js/dist/parallax.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'assets/libs/smooth-scroll/dist/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %}"></script>

    <!-- Map -->
    <script src='../../../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.min.js' %}"></script>



</body>

</html>
{% endblock %}