<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/placement.png' %}">
</head>
<body>


{% block content %}
<br><br><br>
<div class="container ">




    <div align="right " id="displaytimer">Time remaining: <span id="time-remaining">{{ t.duration_minutes }}:00</span></div>
<!-- Assuming that the time is stored in a field named "duration_minutes" -->

{% for q in questions %}
 <form id="my-form" method='post' action=''>
    {% csrf_token %}

     {% if question.course_week.week == week %}


    <div class="form-group" >{{forloop.counter}} .
      <label for="question" >{{ q.question }}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" >
            <label class="form-check-label" for="gridRadios1">
                {{q.op1}}
            </label>
        </div>
        <div class="form-check">
		<input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
                {{q.op2}}
            </label>
        </div>
        <div class="form-check">
		<input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios1">
             {{q.op3}}
            </label>
        </div>
        <div class="form-check">
		<input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios4" value="option4">
            <label class="form-check-label" for="gridRadios2">
                {{q.op4}}
            </label>
        </div>
        <br>
    </div>
 {% endif %}
     {% endfor %}

    <input id='timer' type='hidden' name="timer" value="">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 {% for t in time %}
       <script>
var duration = {{ t.duration_minutes }} * 60; // convert minutes to seconds
var timer = setInterval(function() {
    duration--;
    if (duration <= 0) {
        clearInterval(timer);

        alert("Time's up!");
        document.getElementById("my-form").submit();

    } else {
        var minutes = Math.floor(duration / 60);
        var seconds = duration % 60;
        var timeStr = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        document.getElementById('time-remaining').textContent = timeStr;
    }
}, 1000);
</script>
     {% endfor %}


</div>

{% endblock %}
</body>
</html>